html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    font-family: 'Lato', sans-serif;
    /* height: 100%;
    width: 100%; */
    background-image: linear-gradient(123deg, #3C426B, #313550);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* display: flex; */
    
}
.corpo{
    background-image: url('../img/bg.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    width: 100%;
    right: 100%;
}
.conteudo{
    margin-top: 5em;
    margin-left: 5em;
}
.titulo-home{
    color: #fff;
    font-size: 2em;

    
}

.logo{
    /* content: ''; */
    width: 40px;
    height: 40px;
    background-image: linear-gradient(#2DA4FF, #0066CC);    transform: rotate(45deg);
    border-radius: 10px;
}
.wrap-titulo{
    display: flex;
    /* margin-left: 2em; */
    align-items: center;
    justify-content: space-between;
    width: 22em;
    height: min-content;

    flex-direction: row;
}

.conteudo-pagina{
    display: flex;
    width: 30em;
    height: 20em;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5em;
    
}

.titulo-apresentacao{
    color: #fff;
    font-size: 1.5em;
    
    
}

.conteudo-apresentacao{
    padding-top: 2em;
    color: #fff;
    width: 35em;
    line-height: 1.3em;
}

/* media */

@media  only screen and (max-width: 800px){
    .conteudo{
        margin-left: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .corpo{
        justify-content: center;
    }
    .wrap-titulo{
        width: max-content;
        
    }
    .titulo-home{
        font-size: 1.5em;
        padding-left: 1em;
    }

    .conteudo-pagina{
        width: 80vw;
        height: min-content;
        align-items: center;
        
    }
    .conteudo-apresentacao{
        /* width: 20em; */
        width: 100%;
        text-align: justify;
    }

}