html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    font-family: 'Lato', sans-serif;
    /* height: 100%;
    width: 100%; */
    background-image: linear-gradient(123deg, #3C426B, #313550);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* display: flex; */
    
}
.corpo{
    background-image: url('../img/bg.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    width: 100%;
    right: 100%;
    /* flex-direction: column; */
    justify-content: flex-start;
    position: relative;
    /* top: 0; */
    left: 0;
}
.conteudo{
    margin-top: 5em;
    margin-left: 5em;
}


.logo{
    /* content: ''; */
    width: 40px;
    height: 40px;
    background-image: linear-gradient(#2DA4FF, #0066CC);    transform: rotate(45deg);
    border-radius: 10px;
}
.foto-perfil{
    background-image: url(../img/raul.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.titulo-home{
    color: #fff;
    font-size: 2em;

    
}
.titulo-sobre{
    color: #fff;
    font-size: 2em;
    margin-left: .5em;
    
}
.wrap-titulo{
    display: flex;
    /* margin-left: 2em; */
    align-items: center;
    justify-content: space-between;
    width: 22em;
    height: min-content;
    height: -moz-min-content;
    height: -webkit-min-content;

    flex-direction: row;
}
.wrap-titulo-sobre{
    display: flex;
    /* align-items: center; */
}
.wrap-titulo-subtitulo{
    display: flex;
    flex-direction: column;

}
.titulo-conteudo{
    color: #ffffff;
    margin-left: .5em;
    margin-top: 1em;
    font-size: 1.5em;
}

.subtitulo-sobre{
    color: #fff;
    opacity: .8;
    margin-left: 1.5em;

}

.sub-formacao{
    margin-top: 1em;
    width: 23em;
}

.conteudo-pagina{
    display: flex;
    width: 30em;
    height: 20em;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5em;
    
}

.titulo-apresentacao{
    color: #fff;
    font-size: 1.5em;
    
    
}

.conteudo-apresentacao{
    padding-top: 2em;
    color: #fff;
    width: 35em;
    line-height: 1.3em;
}


.titulo-habilidade-item{
    color: #ffffff;
    /* margin-left: 1.5em; */
    margin-top: 1em;

    
}
.nivel-habilidade{
    background-color: rgb(64, 70, 109);
    height: .8em;
    width: 100%;
    margin-top: 1em;
    border-radius: 25px;
    overflow: hidden;
    margin-left: 1  .5em;
    /* font-size: .8em; */


}
.porcentagem-habilidade{
    opacity: 0;
    font-size: .8em;
    color: #fff;
    text-align: center;
    
    transition: 250ms;
}
.wrap-habilidade-item:last-child{
    margin-bottom: 2em;
}
.wrap-habilidade-item:hover  .porcentagem-habilidade{
    opacity: 1;
    cursor: pointer;
}
.bg-porcentagem-habilidade{
    background-image: linear-gradient(45deg, #2DA4FF, #0066CC);
    height: 100%;
    border-radius: 50px;
    
}
.nivel-photoshop{
    width: 100%;
}
.nivel-adobeXD{
    width: 90%;
}
.nivel-HTML{
    width: 100%;
}
.nivel-CSS{
    width: 92%;
}
.nivel-javascript{
    width: 85%;
}
.nivel-python{
    width: 80%;
}


/* media */

@media  only screen and (max-width: 800px){
    .conteudo{
        margin-left: 0;
        justify-content: center;

        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .conteudo-home{
        align-items: center;

    }
    .corpo{
        /* flex-direction: column; */
        
        justify-content: center;

    }
    .wrap-titulo{
        width: 17.5em;
        
    }
    .titulo-home{
        font-size: 1.5em;
        padding-left: 1em;
    }

    .conteudo-pagina{
        width: 80vw;
        height: min-content;
        height: -moz-min-content;
        height: -webkit-min-content;
        align-items: center;
        
        
    }
    .conteudo-apresentacao{
        /* width: 20em; */
        width: 100%;
        text-align: justify;
    }
    .wrap-habilidades{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrap-habilidades:first-child{
        align-items: flex-start;
    }
    .group-skills{
        width: 90%;
        /* margin-left: 1.5em; */
        
    }
    .sub-formacao{
        width: 90%;
        text-align: justify;
    }


}